# Lab-based Group Assignment 1: 
## Prediction of Loyalty of Credit Applications for Risky Customers

<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="drsalihtutun"><a class="LI-simple-link" href='https://www.linkedin.com/in/drsalihtutun/en-us?trk=profile-badge'>Salih Tutun, PhD</a></div>

### Fundamentals of Deep Neural Networks

![Imgur](https://i.imgur.com/4HJknC2.png)

![Imgur](https://i.imgur.com/eUUHWKJ.png)

Two Main Topics Related to Artificial Neural Networks:

- Forward Propagation
- Backpropagation

#### Representation Learning

![Imgur](https://i.imgur.com/VUVEXi2.png)

#### Basic Structure

![Imgur](https://i.imgur.com/mrGDtkM.png)

#### The Perceptron: Forward Propagation

![Imgur](https://i.imgur.com/rUL3Uz0.png)

![Imgur](https://i.imgur.com/tH0M8oO.png)

### Business Problem

<font color='green'>Understand the uncertain loyalty level (for payment difficulties) of customers given his/her background information collected in the application process. </font>

### Business Objectives

This application aims to identify patterns that indicate <font color='green'>if a customer has difficulty paying their installments</font> which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc. And this will ensure that the consumers capable of repaying the loan will not be rejected.

![Imgur](https://i.imgur.com/tyqhhLR.png)

**Credit:** Investopedia

In [2]:
#Mount with Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive



### <font color='red'>**Q1: Please explore the given dataset** </font>

Read the dataset

In [3]:
# Import the dataset named 'credit_data.csv' 
# The data is kind of large. Please only load the first 1000 rows. 
import pandas as pd  
data = pd.read_csv('/content/drive/MyDrive/deep learning/Lab-based Group Assignment 1/credit_card.csv', nrows = 1000).drop("Car Owner",axis=1)

In [ ]:
#Column Description is shown below
pd.read_csv('/content/drive/MyDrive/deep learning/Lab-based Group Assignment 1/Credit Card Column Description.csv', sep = ';', index_col = 0)

                                                         Description
Column Name
Mobile Phone                  (0,1) 1: Client provided Mobile phone
Work Phone                      (0,1) 1: Client provided Work phone
Correct Phone Number  (0,1) 1: Phone numbers provided are reachable
City Rating                                    (1,2,3) 1 is the best
Region Rating              (1,2,3) 1 is the best
House Owner                 (0,1) 1: Client owns certain real estate
Car Owner                                 (0,1) 1: Client owns a car
Income                                          Income of the client
Document                (0,1) 1: Client provided additional document
Target                     (0,1) 1: Client with payment difficulties

In [4]:
#View the head of the data
data.head(10)

   Mobile Phone  Work Phone  Correct Phone Number  ...  Income  Document  Target
0             1           1                     1  ...       1         1       0
1             1           1                     1  ...       0         1       0
2             1           1                     1  ...       0         0       1
3             1           1                     1  ...       0         1       0
4             1           1                     1  ...       0         0       0
5             1           1                     1  ...       0         1       0
6             1           1                     1  ...       0         0       1
7             1           1                     1  ...       0         1       1
8             1           0                     1  ...       0         1       0
9             1           1                     1  ...       0         0       0

[10 rows x 9 columns]

In [5]:
#View the main statistics of the data columns
#You may use DataFrame.description() method
data.describe()

       Mobile Phone   Work Phone  ...    Document       Target
count        1000.0  1000.000000  ...  1000.00000  1000.000000
mean            1.0     0.842000  ...     0.72300     0.335000
std             0.0     0.364924  ...     0.44774     0.472227
min             1.0     0.000000  ...     0.00000     0.000000
25%             1.0     1.000000  ...     0.00000     0.000000
50%             1.0     1.000000  ...     1.00000     0.000000
75%             1.0     1.000000  ...     1.00000     1.000000
max             1.0     1.000000  ...     1.00000     1.000000

[8 rows x 9 columns]

In [6]:
#View the datatype of each column
#You may use the DataFrame.info() method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Mobile Phone          1000 non-null   int64
 1   Work Phone            1000 non-null   int64
 2   Correct Phone Number  1000 non-null   int64
 3   City Rating           1000 non-null   int64
 4   Region Rating         1000 non-null   int64
 5   House Owner           1000 non-null   int64
 6   Income                1000 non-null   int64
 7   Document              1000 non-null   int64
 8   Target                1000 non-null   int64
dtypes: int64(9)
memory usage: 70.4 KB

### <font color='red'>**Q2:Please prepare your dataset for the model** </font>

In [7]:
#Split the data into training set (80%) and testing set (20%)
import numpy as np

#Get all index first
all_index = np.array(data.index)


#Randomly select 80% of the index as training index
#You may use np.random.choice() to sample from a set
train_index = np.random.choice(all_index,size=int(1000*0.8),replace=False)

 
#Get the rest as the test index
#You may use np.setdiff1d() to get the complement set
test_index = np.setdiff1d(all_index,train_index)


#Split the data using the split index
train_data = data.loc[train_index,]
test_data = data.loc[test_index,]
test_data

     Mobile Phone  Work Phone  Correct Phone Number  ...  Income  Document  Target
8               1           0                     1  ...       0         1       0
22              1           1                     1  ...       0         1       0
36              1           1                     1  ...       0         1       0
38              1           0                     1  ...       0         1       0
40              1           1                     1  ...       1         1       0
..            ...         ...                   ...  ...     ...       ...     ...
984             1           1                     1  ...       0         1       1
986             1           1                     1  ...       1         1       0
992             1           1                     1  ...       0         1       1
997             1           0                     1  ...       0         1       1
998             1           1                     1  ...       0         1       0

[200 rows x 9 columns]

### <font color='red'>**Q3:Please define your activation functions and initialize the weights of the model** </font>

In [8]:
#Build your own neural network below and print out the MSE
#If you meet difficulty, feel free to refer to "M1.6. Building Neural Networks.ipynb" 

#Define a non-linear function first
#Don't forget to define the first order derivative of your non-linear function
#To combine them together, we may add a parameter in the non-linear function

import numpy as np

def relu(x,deriv=False):
    if(deriv==True):
        
        #return the first order derivative
        return x>0
    
    #return the function
    return (x>0)*x

def sigm(x,deriv=False):
    if(deriv==True):
        return x*(1-x)

    return 1/(1+np.exp(-x))

![Imgur](https://i.imgur.com/Abvcaru.png[/img])

 **Credit:** Stack Abuse

![Imgur](https://i.imgur.com/9TVc4LU.png)

In [9]:
#What is your X value?
X = train_data.iloc[:,0:-1].values  # we can call X as a0 as well. 
    
#What is your y value?
y = train_data.iloc[:,-1].values
# You need to reshape your y data into a 2-dimensional array
y = np.reshape(y,(train_data.shape[0],1)) 

    
# randomly initialize our weights with as 2x-1
w0 = 2*np.random.random((8,10)) - 1
w1 = 2*np.random.random((10,1)) - 1

w0, w1

(array([[ 0.06352819, -0.4167156 ,  0.34930904,  0.57962177, -0.99683193,
         -0.6221822 ,  0.8795499 ,  0.47772025,  0.81644014, -0.08246533],
        [ 0.5687986 ,  0.3066922 ,  0.13491027,  0.29701292, -0.21600896,
         -0.65624729, -0.80738156,  0.89406976, -0.30291338, -0.8681682 ],
        [ 0.87902692,  0.8386504 , -0.0373842 ,  0.25844068,  0.33532568,
          0.1103794 ,  0.6106367 ,  0.58756598,  0.57288559, -0.88494959],
        [ 0.210733  , -0.12870112,  0.91685869, -0.65594305,  0.76935946,
          0.48273047,  0.31993236, -0.91069961, -0.7305561 , -0.0528605 ],
        [ 0.28176775, -0.63054649, -0.7259348 , -0.49553082, -0.21774299,
         -0.66712715, -0.86717333, -0.63006297,  0.13945659, -0.91924676],
        [-0.40777862,  0.62602055,  0.37043969, -0.84381701,  0.19607009,
         -0.04382255,  0.2038123 , -0.07938732, -0.98810306,  0.36828396],
        [-0.09980093, -0.88645214,  0.15917753,  0.89201703, -0.08555341,
          0.54358163,  0.96221375,  0.52186214, -0.35829822,  0.91841246],
        [ 0.726226  , -0.4284235 , -0.76632987, -0.40385511, -0.38073205,
         -0.25858874,  0.03553236, -0.74842898,  0.35125529,  0.21723793]]),
 array([[-0.04017586],
        [ 0.64233425],
        [ 0.93211652],
        [ 0.21455818],
        [ 0.21550219],
        [-0.3835947 ],
        [-0.83100725],
        [ 0.64947738],
        [ 0.0796959 ],
        [-0.97302892]]))

![Imgur](https://i.imgur.com/xHUsUqU.png)

### <font color='red'>**Q4:Please train your neural networks** </font>

In [10]:

#Write a long enough loop to train your model and minimize the cost

for j in range(60000):
    
    # Feed forward through layers 0, 1, and 2
    a0 = X
    a1 = sigm(np.dot(a0,w0))
    a2 = sigm(np.dot(a1,w1))

    # how much did we miss the target value?
    a2_error = y - a2
        
    # in what direction is the target value?
    # were we really sure? if so, don't change too much.
    a2_delta = a2_error*sigm(a2,deriv=True)

    # how much did each a1 value contribute to the a2 error (according to the weights)?
    a1_error = a2_delta.dot(w1.T)
    
    # in what direction is the target l1?
    # were we really sure? if so, don't change too much.
    a1_delta = a1_error * sigm(a1,deriv=True)

    w1 += a1.T.dot(a2_delta)
    w0 += a0.T.dot(a1_delta)

#Let's convert the probability into binary result
#1 means correct prediction; 0 means mistake
train_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]

#what is our training accuracy
np.mean(train_result)

0.68

In [11]:

#Write a long enough loop to train your model and minimize the cost

for j in range(60000):
    
    # Feed forward through layers 0, 1, and 2
    a0 = X
    a1 = relu(np.dot(a0,w0))
    a2 = relu(np.dot(a1,w1))

    # how much did we miss the target value?
    a2_error = y - a2
        
    # in what direction is the target value?
    # were we really sure? if so, don't change too much.
    a2_delta = a2_error*relu(a2,deriv=True)

    # how much did each a1 value contribute to the a2 error (according to the weights)?
    a1_error = a2_delta.dot(w1.T)
    
    # in what direction is the target l1?
    # were we really sure? if so, don't change too much.
    a1_delta = a1_error * relu(a1,deriv=True)

    w1 += a1.T.dot(a2_delta)
    w0 += a0.T.dot(a1_delta)

#Let's convert the probability into binary result
#1 means correct prediction; 0 means mistake
train_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]

#what is our training accuracy
np.mean(train_result)

0.68

How can we add bias on the model

In [12]:
#Write a long enough loop to train your model and minimize the cost

for j in range(60000):

    bias = np.random.rand(1)
    # Feed forward through layers 0, 1, and 2
    a0 = X
    a1 = sigm(np.dot(a0,w0)+bias)
    a2 = sigm(np.dot(a1,w1)+bias)
    

    # how much did we miss the target value?
    a2_error = y - a2
        
    # in what direction is the target value?
    # were we really sure? if so, don't change too much.
    a2_delta = a2_error*sigm(a2,deriv=True)

    # how much did each a1 value contribute to the a2 error (according to the weights)?
    a1_error = a2_delta.dot(w1.T)
    
    # in what direction is the target l1?
    # were we really sure? if so, don't change too much.
    a1_delta = a1_error * sigm(a1,deriv=True)

    w1 += a1.T.dot(a2_delta)
    w0 += a0.T.dot(a1_delta)

#Let's convert the probability into binary result
#1 means correct prediction; 0 means mistake
train_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]

#what is our training accuracy
np.mean(train_result)

0.68

Please imagine how can we add new layer and improve the results?

### ???

In [13]:
#Write a long enough loop to train your model and minimize the cost

for j in range(60000):

    bias = np.random.rand(1)
    # Feed forward through layers 0, 1, and 2
    a0 = X
    a1 = relu(np.dot(a0,w0)+bias)
    a2 = relu(np.dot(a1,w1)+bias)
    

    # how much did we miss the target value?
    a2_error = y - a2
        
    # in what direction is the target value?
    # were we really sure? if so, don't change too much.
    a2_delta = a2_error*relu(a2,deriv=True)

    # how much did each a1 value contribute to the a2 error (according to the weights)?
    a1_error = a2_delta.dot(w1.T)
    
    # in what direction is the target l1?
    # were we really sure? if so, don't change too much.
    a1_delta = a1_error * relu(a1,deriv=True)

    w1 += a1.T.dot(a2_delta)
    w0 += a0.T.dot(a1_delta)

#Let's convert the probability into binary result
#1 means correct prediction; 0 means mistake
train_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]

#what is our training accuracy
np.mean(train_result)

0.68

### <font color='red'>**Q5:Please test your model with test dataset** </font>

In [14]:
#Define a function to get your test error
#w0, w1 represent your trained model, test_data is your test data
def my_net(w0, w1, test_data):

    #Get your test data first
    X = test_data.iloc[:,0:-1].values            
    y = test_data.iloc[:,-1].values
    y = np.reshape(y,(test_data.shape[0],1)) 
    
    #Input your data in the first layer
    a0 = X
    
    #Caculate the second layer
    a1 = sigm(np.dot(a0,w0))
    
    #Caculate the third layer
    a2 = sigm(np.dot(a1,w1))
    
    #What is your error?
    a2_error = y - a2
    
    #Finally return your error
    test_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]
    return np.mean(test_result)

#Print the score
my_score = my_net(w0, w1, test_data)
print("Test Accuracy: " + str(my_score))

Test Accuracy: 0.605

In [15]:
#Define a function to get your test error
#w0, w1 represent your trained model, test_data is your test data
def my_net(w0, w1, test_data):

    #Get your test data first
    X = test_data.iloc[:,0:-1].values            
    y = test_data.iloc[:,-1].values
    y = np.reshape(y,(test_data.shape[0],1)) 
    
    #Input your data in the first layer
    a0 = X
    
    #Caculate the second layer
    a1 = relu(np.dot(a0,w0))
    
    #Caculate the third layer
    a2 = relu(np.dot(a1,w1))
    
    #What is your error?
    a2_error = y - a2
    
    #Finally return your error
    test_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]
    return np.mean(test_result)

#Print the score
my_score = my_net(w0, w1, test_data)
print("Test Accuracy: " + str(my_score))

Test Accuracy: 0.605

If you have questions, please contact with me.

Salih Tutun, PhD

olin2deeplearning@gmail.com, salihtutun@wustl.edu